.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-height: 100vh;
  gap: 30px;

  .content_header {
    display: flex;
    background-color: #fff;
    align-items: center;
    height: 120px;
    width: 100%;
    padding-right: 120px;

    .items {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 80%;
      height: 40%;
      margin: 0 auto;

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 6px;
        span {
          font-family: Roboto;
          font-size: 18px;
          font-weight: 500;
        }
        .input {
          width: 80% !important;
          height: 50px;
        }
      }
    }
  }
  .content_body {
    position: relative;
    height: 100vh;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: auto;
    background: #fff;
  }
}
