.chart-container {
  padding: 10px !important;
  width: 100% !important; // Standart o'lchamlar
  height: 300px;

  @media (max-width: 768px) {
    padding: 10px !important;
    width: 100% !important; // Standart o'lchamlar
    height: 300px;
  }

  @media (max-width: 425px) {
    padding: 0 !important;
    width: 100% !important; // Standart o'lchamlar
    height: 300px;
  }
}
