* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.control-arrow {
  position: relative;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 46px;
  height: 50px;
  opacity: 0.8;
  cursor: pointer;
}

.carousel {
  display: flex !important;
  position: relative !important;
  justify-content: center;

  button {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 50% !important;
    width: 46px !important;
    height: 50px !important;
    opacity: 0.8 !important;
    z-index: 10 !important;
    position: absolute !important;
    top: 100%;
    transform: translateY(-50%);

    &:first-of-type {
      left: 3% !important; // Chap tugma
    }
    &:last-of-type {
      right: 7% !important; // O'ng tugma
    }
  }
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
.thumbs-wrapper {
  padding-right: 50px !important;
}
.thumbs {
  padding: 0 !important;
  padding-left: 0 !important;
  margin: 0 !important;
  overflow-x: auto !important;
  li {
    height: 100px !important;
    border-radius: 2px !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover {
      border-radius: 2px !important;

      border: 3px solid #7000ff !important;
    }
  }
  li.selected {
    border: 3px solid #7000ff !important;
    border-radius: 2px !important;
    &:hover {
      border-radius: 2px !important;

      border: 3px solid #7000ff !important;
    }
  }
}
.app {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(236, 235, 234, 0.747) !important;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto !important;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
@media (max-width: 768px) {
  .app {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(236, 235, 234, 0.747) !important;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
}
@media (max-width: 450px) {
  .app {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(236, 235, 234, 0.747) !important;
    width: 100%;
    overflow-y: scroll;
    height: 140%;
  }
}
.container1 {
  padding: 0 30px;
  padding-right: 70px;
  width: 100%;
  margin: 0 auto;
}

a {
  width: 100%;
  text-decoration: none !important;
}
select,
input {
  outline: none;
}
li {
  list-style: none;
}
