.allProducts {
  display: flex;
  flex-direction: column;

  background: #fff;
  min-height: 100vh;
  width: 100%;
  .all_product_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    padding-left: 35px;
    width: 92%;
    h1 {
      font-size: 30px;
      font-weight: bold;
      font-family: Roboto;
      color: #4e4848;
      text-align: start;
      line-height: 1.5;
      letter-spacing: -0.02em;
    }
  }
  .loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100;
    .load {
      position: absolute;
      right: 57%;
      top: 50%;
    }
  }
  .all_product_body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 60px;

    justify-content: space-between;
    margin-top: 60px;

    gap: 20px;
    .body_card {
      width: 8%;
      height: 200px;
      border-radius: 3px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
      img {
        width: 100%;
        height: 120px;
      }
      .body_card_text {
        padding: 6px;
        p {
          font-size: 14px;
          font-weight: 500;
          font-family: Roboto;
          color: #7a7a;
        }
      }
    }
  }
  .all_product_footer {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    padding-left: 35px;
    span {
      font-size: 18px;
      font-weight: 400;
      font-family: Roboto;
    }
    .MuiPaginationItem-root.Mui-selected {
      background-color: #7000ff !important;
      color: #fff !important;
      border-radius: 50% !important;
    }
  }
}
