header {
  padding: 23px 0;
  background: #fff;
  .h_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sidebar_btn {
      display: none;
    }
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        text-transform: none;
        img {
          width: 50px;
          height: 50px;
        }
        span {
          font-family: Roboto;
          font-size: 22px;
          font-weight: 600;
          line-height: 14.52px;
          text-align: left;
          color: #7000ff;
        }
      }
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 36%;
      .auth {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        button {
          display: flex;
          flex-direction: column;
          text-transform: none;
          gap: 4px;
          span {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-decoration: none;
            color: #1f2026;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  header {
    padding: 23px 0;
    background: #fff;
    .h_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .sidebar_btn {
        display: flex;
      }
      .logo {
        display: none !important;
        align-items: center;
        gap: 10px;
        button {
          text-transform: none;
          img {
            width: 50px;
            height: 50px;
          }
          span {
            font-family: Roboto;
            font-size: 22px;
            font-weight: 600;
            line-height: 14.52px;
            text-align: left;
            color: #7000ff;
          }
        }
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 66%;
        .auth {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 50%;
          button {
            display: flex;
            flex-direction: column;
            text-transform: none;
            gap: 4px;
            span {
              font-family: Roboto;
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              text-decoration: none;
              color: #1f2026;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 425px) {
  header {
    padding: 23px 0;
    background: #fff;
    position: sticky !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 223;

    .h_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .sidebar_btn {
        display: flex;
      }
      .logo {
        display: none !important;
        align-items: center;
        gap: 10px;
        button {
          text-transform: none;
          img {
            width: 50px;
            height: 50px;
          }
          span {
            font-family: Roboto;
            font-size: 22px;
            font-weight: 600;
            line-height: 14.52px;
            text-align: left;
            color: #7000ff;
          }
        }
      }
      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 66%;
        .auth {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 50%;
          button {
            display: flex;
            flex-direction: column;
            text-transform: none;
            gap: 4px;
            span {
              font-family: Roboto;
              font-size: 14px;
              font-weight: 400;
              line-height: 18px;
              text-decoration: none;
              color: #1f2026;
            }
          }
        }
      }
    }
  }
}
