.reg {
  display: flex;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh !important;
  position: relative;
  width: 100%;

  .login_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: #fff;
    bottom: 0;

    .img {
      display: flex;
      align-items: center;
      height: 100%;
      width: 50%;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .loginForm {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 30px;

      width: 50%;

      form {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 7px;
        width: 60%;
        background: #fff;
        height: 90%;
        gap: 15px;
        z-index: 11 !important;
        border-radius: 6px;

        .form1 {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: relative;
          padding: 10px 0;
          width: 100%;
          height: 100%;

          gap: 10px;
          z-index: 11 !important;
          border-radius: 6px;

          h1 {
            display: flex;
            font-family: Roboto;
            font-size: 32px;
            font-weight: bold;
            color: #000;
            position: relative;
            top: -4%;
          }

          .input {
            display: flex;
            flex-direction: column;
            align-items: start;
            margin: 0 auto;
            justify-content: center;
            width: 100%;
            height: 100px;
            margin-bottom: 4px;
            label {
              font-family: Roboto;
              font-size: 18px;
              font-weight: bold;
              padding-bottom: 18px;
              padding-left: 50px;
              cursor: pointer;
              color: rgb(96, 90, 90);
            }
            input {
              background-color: rgb(189, 182, 182);
              color: #000;
              border: 1px solid rgb(112, 101, 101);
              font-size: medium;
              border-radius: 12px;
              font-weight: 500;
              padding: 10px 0;
              width: 100%;
              padding-left: 12px;
              font-family: Roboto;
              padding-left: 12px;
              border: #002bff;
              margin: 0 auto;
            }
            span {
              width: 80%;
              position: relative;
              top: -12px;
              font-family: Roboto;
              font-size: 16px;
              font-weight: 400;
              line-height: 18px;
              text-decoration: none;
              color: red;
              left: 49px;
              padding-bottom: 15px;
            }
          }
          .pwd {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            width: 80%;

            position: relative;

            input {
              width: 100%;
              margin-bottom: 20px;
              position: relative;
            }

            span {
              display: flex;
              align-items: end;
              position: absolute;
              cursor: pointer;
              top: 50%;
              right: 0;
              width: 25px;
              left: 87%;

              transform: translateY(-50%);
            }
          }

          button {
            width: 80%;
            height: 50px;
            border: none;
            outline: none;
            color: #fff;
            background-color: #7000ff !important;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;

            &:before {
              content: "";
              background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
              );
              position: absolute;
              top: -2px;
              left: -2px;
              background-size: 400%;
              z-index: -1;
              filter: blur(5px);
              width: calc(100% + 4px);
              height: calc(100% + 4px);
              animation: glowing 20s linear infinite;
              opacity: 0;
              transition: opacity 0.3s ease-in-out;
              border-radius: 10px;
            }

            &:hover:before,
            &:focus:before {
              opacity: 1;
            }

            &:active:before {
              opacity: 0;
            }

            &:after {
              z-index: -1;
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              background: #7000ff;
              left: 0;
              top: 0;
              border-radius: 10px;
            }

            &:active {
              color: #000;
            }

            &:active:after {
              background: transparent;
            }
          }

          .singUp1 {
            display: flex;
            align-items: center;
            margin-top: 10px;
            width: 80%;
            padding: 0 20px;
            justify-content: center;
            gap: 30px;
            span {
              font-family: Roboto;
              font-size: 18px;
              font-weight: 400;

              cursor: pointer;
              color: rgb(96, 90, 90);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .reg {
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important;
    position: relative;
    width: 100%;
    .login_body {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .img {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
        }
      }

      .loginForm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 30px;

        width: 50%;

        form {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: relative;
          padding: 7px;
          width: 90%;
          background: #fff;
          height: 98%;
          gap: 5px;
          z-index: 11 !important;
          border-radius: 6px;

          .form1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 10px 0;
            width: 100%;
            height: 100%;

            gap: 2px;
            z-index: 11 !important;
            border-radius: 6px;

            h1 {
              display: flex;
              font-family: Roboto;
              font-size: 32px;
              font-weight: bold;
              color: #000;
              position: relative;
              top: -4%;
            }

            .input {
              display: flex;
              flex-direction: column;
              align-items: start;
              margin: 0 auto;
              justify-content: center;
              width: 100%;
              height: 80px;
              margin-bottom: 2px;
              label {
                font-family: Roboto;
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 5px;
                padding-left: 40px;
                cursor: pointer;
                color: rgb(96, 90, 90);
              }
              input {
                background-color: rgb(189, 182, 182);
                color: #000;
                border: 1px solid rgb(112, 101, 101);
                font-size: medium;
                border-radius: 12px;
                font-weight: 500;
                padding: 10px 0;
                width: 100%;
                padding-left: 12px;
                font-family: Roboto;
                padding-left: 12px;
                border: #002bff;
                margin: 0 auto;
              }
              span {
                width: 80%;
                position: relative;
                top: -12px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-decoration: none;
                color: red;
                left: 40px;
                margin-bottom: 6px;
                padding-bottom: 15px;
              }
            }
            .pwd {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 auto;
              width: 80%;

              position: relative;

              input {
                width: 100%;
                margin-bottom: 20px;
                position: relative;
              }

              span {
                display: flex;
                align-items: end;
                position: absolute;
                cursor: pointer;
                top: 50%;
                right: 0;
                width: 25px;
                left: 84%;

                transform: translateY(-50%);
              }
            }

            .singUp1 {
              display: flex;
              align-items: center;
              margin-top: 10px;
              width: 80%;
              padding: 0 20px;
              justify-content: center;
              gap: 30px;
              span {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
                color: rgb(96, 90, 90);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .reg {
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh !important;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    .login_body {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .img {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
        }
      }

      .loginForm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 30px;

        width: 50%;

        form {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: relative;
          padding: 7px;
          width: 91%;
          background: #fff;
          height: 98%;
          gap: 15px;
          z-index: 11 !important;
          border-radius: 6px;
          overflow: hidden;

          .form1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 10px 0;
            width: 100%;
            height: 100%;

            gap: 2px;
            z-index: 11 !important;
            border-radius: 6px;
            overflow: hidden;

            h1 {
              display: flex;
              font-family: Roboto;
              font-size: 32px;
              font-weight: bold;
              color: #000;
              position: relative;
              top: -4%;
            }

            .input {
              display: flex;
              flex-direction: column;
              align-items: start;
              margin: 0 auto;
              justify-content: center;
              width: 100%;
              height: 100px;
              margin-bottom: 4px;
              label {
                font-family: Roboto;
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 5px;
                padding-left: 40px;
                cursor: pointer;
                color: rgb(96, 90, 90);
              }
              input {
                background-color: rgb(189, 182, 182);
                color: #000;
                border: 1px solid rgb(112, 101, 101);
                font-size: medium;
                border-radius: 12px;
                font-weight: 500;
                padding: 10px 0;
                width: 100%;
                padding-left: 12px;
                font-family: Roboto;
                padding-left: 12px;
                border: #002bff;
                margin: 0 auto;
              }
              span {
                width: 80%;
                position: relative;
                top: -12px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-decoration: none;
                color: red;
                left: 40px;
                margin-bottom: 6px;
                padding-bottom: 15px;
              }
            }
            .pwd {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 auto;
              width: 80%;

              position: relative;

              input {
                width: 100%;
                margin-bottom: 20px;
                position: relative;
              }

              span {
                display: flex;
                align-items: end;
                position: absolute;
                cursor: pointer;
                top: 50%;
                right: 0;
                width: 25px;
                left: 82%;

                transform: translateY(-50%);
              }
            }

            .singUp1 {
              display: flex;
              align-items: center;
              margin-top: 10px;
              width: 80%;
              padding: 0 20px;
              justify-content: center;
              gap: 30px;
              span {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                cursor: pointer;
                color: rgb(96, 90, 90);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .reg {
    display: flex;
    overflow: hidden;

    height: 100vh !important;
    position: relative;
    width: 100%;
    overflow-y: scroll !important;
    .login_body {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .img {
        display: none;
        align-items: center;
        height: 100%;
        width: 50%;
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
        }
      }

      .loginForm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 30px;

        width: 100%;

        form {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: relative;
          padding: 7px;
          width: 100%;
          height: 80%;
          gap: 15px;
          z-index: 11 !important;
          border-radius: 6px;

          .form1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 0px 0;
            width: 100%;
            height: 100%;

            gap: 10px;
            z-index: 11 !important;
            border-radius: 6px;
            overflow: visible;

            .input {
              display: flex;
              flex-direction: column;
              align-items: start;
              margin: 0 auto;
              justify-content: center;
              width: 100%;
              height: 100px;
              margin-bottom: 14px;
              label {
                font-family: Roboto;
                font-size: 18px;
                font-weight: bold;
                padding-bottom: 18px;
                padding-left: 60px;
                cursor: pointer;
                color: rgb(96, 90, 90);
              }
              input {
                background-color: rgb(189, 182, 182);
                color: #000;
                border: 1px solid rgb(112, 101, 101);
                font-size: medium;
                border-radius: 12px;
                font-weight: 500;
                padding: 10px 0;
                width: 100%;
                padding-left: 12px;
                font-family: Roboto;
                padding-left: 12px;
                border: #002bff;
                margin: 0 auto;
              }
              span {
                width: 90%;
                position: relative;
                top: -12px;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                text-decoration: none;
                color: red;
                left: 60px;
                padding-bottom: 15px;
              }
            }
            .pwd {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 auto;
              width: 80%;

              position: relative;

              input {
                width: 100%;
                margin-bottom: 20px;
                position: relative;
              }

              span {
                display: flex;
                align-items: end;
                position: absolute;
                cursor: pointer;
                top: 50%;
                right: 0;
                width: 25px;
                left: 88%;

                transform: translateY(-50%);
              }
            }
            .singUp1 {
              display: flex;
              align-items: center;
              margin-top: 10px;
              width: 80%;
              padding: 0 0px;
              justify-content: center;
              gap: 30px;
              span {
                font-family: Roboto;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                color: rgb(96, 90, 90);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .reg {
    display: flex;
    overflow: hidden;

    height: 100vh !important;
    position: relative;
    width: 100%;
    overflow-y: scroll !important;
    .login_body {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;

      .img {
        display: none;
        align-items: center;
        height: 100%;
        width: 50%;
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
        }
      }

      .loginForm {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 5px;

        width: 100%;

        form {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          position: relative;
          padding: 7px;
          width: 96%;
          background: #fff;
          height: 88%;
          gap: 5px;
          z-index: 11 !important;
          border-radius: 6px;
          overflow: visible;

          .form1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 10px 0;
            width: 100%;
            height: 100%;

            gap: 2px;
            z-index: 11 !important;
            border-radius: 6px;
            overflow: visible;

            h1 {
              display: flex;
              font-family: Roboto;
              font-size: 28px;
              font-weight: bold;
              color: #000;
              position: relative;
              top: -4%;
            }

            .input {
              display: flex;
              flex-direction: column;
              align-items: start;
              margin: 0 auto;
              justify-content: center;
              width: 100%;
              height: 100px;
              margin-bottom: 4px;
              label {
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                padding-bottom: 0px;
                padding-left: 30px;
                cursor: pointer;
                color: rgb(96, 90, 90);
              }
              input {
                background-color: rgb(189, 182, 182);
                color: #000;
                border: 1px solid rgb(112, 101, 101);
                font-size: medium;
                border-radius: 12px;
                font-weight: 500;
                padding: 10px 0;
                width: 100%;
                padding-left: 12px;
                font-family: Roboto;
                padding-left: 12px;
                border: #002bff;
                margin: 0 auto;
              }
              span {
                width: 80%;
                position: relative;
                top: -12px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                text-decoration: none;
                color: red;
                left: 30px;
                margin-bottom: 6px;
                padding-bottom: 15px;
              }
            }
            .pwd {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 0 auto;
              width: 80%;

              position: relative;

              input {
                width: 100%;
                margin-bottom: 20px;
                position: relative;
              }

              span {
                display: flex;
                align-items: end;
                position: absolute;
                cursor: pointer;
                top: 50%;
                right: 0;
                width: 20px;
                left: 78%;

                transform: translateY(-50%);
              }
            }

            .singUp1 {
              display: flex;
              align-items: center;
              margin-top: 10px;
              width: 100%;
              padding: 0 0px;
              justify-content: center;
              gap: 4px;
              span {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;

                cursor: pointer;
                color: rgb(96, 90, 90);
              }
            }
          }
        }
      }
    }
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes formFadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
