.productsFilter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;

  .filter {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      background: #bbb;
    }

    span {
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      color: #474242;
    }
  }
}
