.sidebar {
  display: flex;
  height: 110%;
  bottom: 0;
  top: 0;
  left: 0;
  width: 230px;

  .left {
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    height: 200%;
    padding-top: 15px;
    padding-bottom: 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    background-color: #7000ff;
    overflow: hidden;
    .logo {
      display: none;
      align-items: center;
      gap: 10px;
      button {
        text-transform: none;
        img {
          width: 50px;
          height: 50px;
        }
        span {
          font-family: Roboto;
          font-size: 22px;
          font-weight: 600;
          line-height: 14.52px;
          text-align: left;
          color: #eaeaeb;
        }
      }
    }
    .first {
      width: 101%;

      button {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;

        border: 0;
        text-transform: none;
        border-radius: 3px;
        width: inherit;
        height: 35px;
        gap: 10px;
        padding-left: 20px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 400;
        line-height: 14.52px;
        text-align: left;
        color: #1f2026;
        background-color: inherit;
        transition: all 0.4s;
      }
      ::-webkit-scrollbar {
        width: 8px;
      }

      ::-webkit-scrollbar-track {
        background: #7000ff;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: hsl(266, 100%, 70%);
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: hsl(266, 100%, 70%);
      }

      .categoriesMenu {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto !important;
        max-height: 400px;
        padding-bottom: 29px;
        .action {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 100%;
          a {
            display: flex;
            width: 100%;
            text-decoration: none;
            button {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              padding: 0;
              height: 30px;
              padding-left: 15px;
              span {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 14.52px;
                text-align: left;
                width: 100%;
                padding-left: 40px;
                margin-bottom: 0px;
              }
            }
            button {
              &:hover {
                transition: all 0.3s;
                background: linear-gradient(45deg, #9b6cff, #d1a3ff);
                span,
                svg {
                  color: #7000ff;
                }
              }
            }
          }
          .children {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            .child {
              display: flex;
              align-items: center;
              flex-direction: column;
              width: 100%;
              a {
                display: flex;
                width: 100%;
                text-decoration: none;
                button {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  width: 100%;
                  padding: 0;
                  height: 30px;
                  padding-left: 15px;
                  span {
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 14.52px;
                    text-align: left;
                    width: 100%;
                    padding-left: 40px;
                    margin-bottom: 0px;
                  }
                }
                button {
                  &:hover {
                    transition: all 0.3s;
                    background: linear-gradient(45deg, #9b6cff, #d1a3ff);
                    span,
                    svg {
                      color: #7000ff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .rigth {
    display: none;
  }
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}

@media (max-width: 768px) {
  .sidebar {
    display: flex;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 22222;
    transition: transform 0.4s ease, width 0.4s ease;
    .left {
      display: flex;
      position: fixed !important;
      left: 0;
      top: 0;
      bottom: 0;
      overflow: hidden;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      flex-direction: column;
      min-height: 90vh;
      justify-content: start;
      width: 220px !important;
      background-color: #7000ff;
      .logo {
        display: flex;
        align-items: center;
        gap: 10px;
        position: relative;
        top: -20px;
        button {
          text-transform: none;
          img {
            width: 30px;
            height: 30px;
          }
          span {
            font-family: Roboto;
            font-size: 18px;
            font-weight: 600;
            line-height: 14.52px;
            text-align: left;
            color: #eaeaeb;
          }
        }
      }
    }
    .rigth {
      display: flex;
      height: 100%;
      width: 100%;
    }
  }
}
@media (min-width: 768px) {
  .sidebar {
    display: flex;
    width: auto;
    position: relative;
    z-index: auto;

    .left {
      width: 250px !important;
    }
  }
}
