.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(152, 161, 179, 1) 84%
  );
  background-size: 200% 200%;
  background-position: 0% 0%;
  height: 100vh !important;
  width: 100%;
  animation: backgroundDiagonalMove 10s infinite alternate;
  .img {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/img/bgAuth.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 50%;
    form {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 10px 0;
      width: 47%;
      height: 60%;
      padding-bottom: 60px;
      border-radius: 4px;
      gap: 15px;
      background-color: rgba(248, 247, 247, 0.616);
      backdrop-filter: blur(10px);
      z-index: 1;
      animation: formFadeIn 2s ease-in-out;
      h1 {
        padding-bottom: 40px;
        font-family: Roboto;
        font-size: 34px;
        font-weight: 700;
        color: #000;
      }
      .input {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        label {
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;

          padding-bottom: 18px;
        }

        span {
          width: 80%;
          position: relative;
          top: -12px;
          font-family: Roboto;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          text-decoration: none;
          color: red;
          padding-bottom: 15px;
        }
      }
      button {
        width: 80%;
      }

      .glow-on-hover {
        height: 50px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;

        &:before {
          content: "";
          background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
          );
          position: absolute;
          top: -2px;
          left: -2px;
          background-size: 400%;
          z-index: -1;
          filter: blur(5px);
          width: calc(100% + 4px);
          height: calc(100% + 4px);
          animation: glowing 20s linear infinite;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
          border-radius: 10px;
        }

        &:active {
          color: #000;
        }

        &:active:after {
          background: transparent;
        }

        &:hover:before {
          opacity: 1;
        }

        &:after {
          z-index: -1;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: #7000ff;
          left: 0;
          top: 0;
          border-radius: 10px;
        }
      }

      .singUp {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 5px;
        margin: 0 auto;
        margin-top: 12px;
        text-align: center;
        position: relative;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: Roboto;
          position: absolute;
          font-size: 14px;
          font-weight: 400;
          width: 50%;
          line-height: 14.52px;
          text-align: center;
          color: #000;
          left: 50px;
          top: 20px;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          position: absolute;
          top: 20px;
          right: -60px;
          color: #0e6bb8;
          font-family: Roboto;
          font-size: 16px;
          justify-content: center;
          font-weight: 400;
          line-height: 14.52px;
          text-align: center;
        }
      }
    }
  }
}

@keyframes backgroundDiagonalMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes formFadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
