.productDetail {
  flex: 1;
  background: #fff;
  min-height: 110vh;
  padding: 30px;
  width: 100%;
  padding-bottom: 30px;
  gap: 20px;

  button {
    margin-bottom: 20px;
  }
  .productBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    .product_card {
      display: flex;
      align-items: start;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      gap: 30px;
      border-radius: 15px;
      .imgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 100%;

        img {
          display: block;
          max-width: 100%;
          height: 100% !important;
          object-fit: cover;
          height: auto;
          border-radius: 8px;
          position: sticky;
          top: 0;
          left: 0;
          right: 0;
          z-index: 222;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease-in-out;
        }
        img:hover {
          transform: scale(1.005);
          cursor: pointer;
          object-fit: cover;
        }
      }

      .product_text {
        display: flex;
        align-items: start;
        flex-direction: column;
        height: auto;
        gap: 6px;
        padding: 20px;
        width: 100%;
        .box_chart {
          display: flex;
          gap: 10px;
          flex-direction: column;
          width: 100%;
        }
        .line {
          display: flex;
          width: 100%;
          height: 1px;
          background-color: #888282;
        }
        h3 {
          p {
            font-family: Roboto;
            font-size: 20px;
            font-weight: 700;
            color: #4e4848;
          }
        }
        h1 {
          font-family: Roboto;
          font-size: 24px;
          font-weight: 700;
        }
        span {
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          color: #4e4848;
          margin-top: 5px;
          text-align: left;
          text-overflow: ellipsis;
        }
        p {
          font-family: Roboto;
          font-size: 15px;
          font-weight: 500;
          line-height: 1.7;
          color: #4e4848;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .productDetail {
    background: #fff;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    padding-bottom: 20px;

    .product_card {
      display: flex;
      align-items: start;
      width: 100%;
      height: 100%;
      justify-content: start;

      border-radius: 15px;
      .imgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 44%;
        height: auto;

        img {
          display: block;
          max-width: 100%;
          position: sticky;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease-in-out;
        }
      }

      .product_text {
        display: flex;
        align-items: start;
        flex-direction: column;
        height: auto;
        gap: 12px;
        width: 40%;
        padding-right: 30px;
        padding: 20px;
        .line {
          display: flex;
          position: relative;
          z-index: 222;
          width: 100%;
          height: 1px;

          background-color: #888282;
        }
        h1 {
          font-family: Roboto;
          font-size: 24px;
          font-weight: 700;
        }
        span {
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          color: #4e4848;
          margin-top: 5px;
          text-align: left;
          text-overflow: ellipsis;
        }
        p {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.7;
          color: #4e4848;
          margin-top: 10px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .productDetail {
    background: #fff;
    min-height: 120vh;
    padding: 20px;
    width: 100%;
    padding-bottom: 20px;

    .product_card {
      display: flex;
      align-items: start;
      width: 100%;
      flex-direction: column;
      height: 100%;
      justify-content: start;

      border-radius: 15px;
      .imgWrapper {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
        height: 600px;
        overflow: hidden;
        border-radius: 30px;

        img {
          display: block;
          max-width: 100%;
          position: sticky;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease-in-out;
        }
      }

      .product_text {
        display: flex;
        align-items: start;
        flex-direction: column;
        height: auto;
        gap: 12px;
        width: 100%;
        padding-right: 30px;
        padding: 20px;
        .line {
          display: flex;
          position: relative;
          z-index: 222;
          width: 100%;
          height: 1px;

          background-color: #888282;
        }
        h1 {
          font-family: Roboto;
          font-size: 24px;
          font-weight: 700;
        }
        span {
          font-family: Roboto;
          font-size: 18px;
          font-weight: bold;
          color: #4e4848;
          margin-top: 5px;
          text-align: left;
          text-overflow: ellipsis;
        }
        p {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.7;
          color: #4e4848;
          margin-top: 10px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .productDetail {
    background: #fff;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    padding-bottom: 20px;

    .product_card {
      display: flex;
      align-items: start;
      width: 100%;
      flex-direction: column;
      flex: 2 !important;
      justify-content: start;

      border-radius: 15px;
      .imgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 800px;
        padding-bottom: 30px;
        overflow: hidden;
        border-radius: 30px;

        img {
          display: block;
          max-width: 100%;
          position: sticky;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease-in-out;
        }
      }

      .product_text {
        display: flex;
        align-items: start;
        flex-direction: column;
        height: 100%;
        justify-content: start;
        gap: 12px;
        width: 100%;
        padding-right: 0px;
        padding: 20px;
        .box_chart {
          display: flex;
          flex: 3;
          gap: 10px;
          flex-direction: column;
          width: 100% !important;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .productDetail {
    background: #fff;
    min-height: 100vh;
    padding: 4px !important;
    width: 100%;
    padding-bottom: 10px;

    .product_card {
      display: flex;
      align-items: start;
      width: 100%;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      border-radius: 15px;
      .imgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 800px;
        padding-bottom: 30px;
        overflow: hidden;
        border-radius: 30px;

        img {
          display: block;
          max-width: 100%;
          position: sticky;
          height: auto;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease-in-out;
        }
      }

      .product_text {
        display: flex;
        align-items: start;
        flex-direction: column;
        height: auto;
        gap: 12px;
        width: 100%;
        padding-right: 0;
        padding: 0px !important;
        .box_chart {
          display: flex;
          flex: 1;
          gap: 10px;
          flex-direction: column;
          width: 100% !important;
        }
      }
    }
  }
}
