.left {
  display: flex;
  position: sticky !important;
  left: 0;
  top: 0;
  bottom: 0;

  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  flex-direction: column;
  min-height: 90vh;
  justify-content: space-between;
  width: 270px !important;
  background-color: #fff;
  .first {
    width: 100%;
    button {
      display: flex;
      align-items: center;
      justify-content: start;
      cursor: pointer;
      border: 0;
      text-transform: none;
      border-radius: 3px;
      width: inherit;
      height: 35px;
      gap: 30px;
      padding-left: 20px;
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 14.52px;
      text-align: left;
      color: #000;
      background-color: inherit;
      &:focus {
        background: #ccc;
      }
    }
  }
}
